.CourseText{
    font-size:9pt;
    text-align: center;
    overflow:hidden;
    text-overflow: ellipsis;
    width:75%;
    /*display: -webkit-box;*/
    -webkit-line-clamp: 3;
    -webkit-box-orient: horizontal;
    outline-width: 2px;
    outline-color:#004990;
    outline-style: auto;
    background-color: gainsboro;
    border-radius: 5px;
    padding: '5rem 1rem';
    margin: 5px;
}
.CourseText:first-line {
    font-size: 11pt;
}