.App {
  text-align: center;
}

.column {
  float: left;
  width: 33.33%;
}

.buttoncolumn {
  float:left;
  width:33.33%;
}

.row {
  height:50%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
